
{% extends 'users/base.html' %}
{% load static %}
{% block head %}
<title>
Home | InterviewScheduler
</title>


{% endblock head %}
{% block body %}

<div class="row-md-6 mx-auto my-5 mx-auto">
    <div class="col-md-6 mx-auto border  my-3">
        <h3 class="text text-primary mx-auto "> Select Participants </h3>
    </div>
    
    <div class="col-md-6 mx-auto border my-3">
    {% csrf_token %}
      
      From: <input type="text" id="field1" size="20" class="from-date"/>
      
    </div>
    <div class="col-md-6 mx-auto border my-3">
      
      To: <input type="text" id="field3" size="20" class="to-date" />
      
    </div>
    </div>
  
        
        
        <div class="col-md-6 mx-auto">
        
            <ul>
            {% for user in users %}
            <li>  {{user}} &nbsp;&nbsp;<input class="form-check-input" type="checkbox" value="" id="{{user.id}}"></li>
            {% endfor %}  
            </ul>
        </div>        
  
        
        {% for user in users %}
             <div class="form-check">
            </div>
        {% endfor %}

</div>


<div class="col-md-6 mx-auto">
  <input type="submit" id="check-btn"/>
</div>



{% endblock body %}


{% block script %}
<script>
   AnyTime.picker( "field1",
    { format: "%z-%m-%d %H:%i:%S", firstDOW: 1 });
  

  AnyTime.picker( "field3",
    { format: "%z-%m-%d %H:%i:%S", firstDOW: 1 });


</script>


<script>

jQuery("#check-btn").click(function(){
        var participant_ids = []
        $("input:checkbox[class=form-check-input]:checked").each(function () 
        {
            participant_ids.push($(this).attr("id"));
        });

        alert(participant_ids);

        if(participant_ids.length < 2)
        {
          alert("No Interview between less than 2 participants");
        }
        
        var from_date = $('.from-date').val();
        var to_date = $('.to-date').val();
        
          $.ajax({
            type:'POST',
            dataType:'json',
            traditional:true,
            url:'goc-interview/',
            data:{
              from_date:from_date,
              to_date:to_date,
              participants:participant_ids,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            
          });
        
})
         
</script>
{% endblock script%}

